language: r
r:
  - release
  - devel
cache: packages

before_install:
  - sudo apt-get update
  - sudo apt-get -y install libharfbuzz-dev libfribidi-dev
  
r_packages:
  - kableExtra
  - covr
  - pkgdown

after_success:
  - Rscript -e 'covr::coveralls(function_exclusions="irmi*")'


notifications:
  email:
    on_success: change
    on_failure: change

deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github()'
  skip_cleanup: true
