import(grDevices,
Rcpp,sp, stats, utils,methods,MASS,nnet,e1071,grid,robustbase,
colorspace)
importFrom(car, box.cox, box.cox.powers)
importFrom(nnet, multinom)
importFrom(vcd, labeling_border, mosaic)
useDynLib(VIM)
export(
    existsVm,putVm,getVm,rmVm,
    alphablend,
    aggr,plot.aggr,
    barMiss,
    bgmap,
    bubbleMiss,
    colSequence,
    colSequenceHCL,
    colSequenceRGB,
    colormapMiss,
    colormapMissLegend,
    countInf,
    countNA,
    growdotMiss,
    histMiss,
    iimagMiss,
    initialise,
    irmi,
    mapMiss,
    marginmatrix, 
    marginplot,
    matrixplot,
    mosaicMiss,
    pairsVIM,
    parcoordMiss,
    pbox,
    prepare, 
    rugNA,
    scattJitt,
    scattmatrixMiss,
    scattMiss,
    spineMiss,
    gowerD,hotdeck,kNN,sampleCat,maxCat,which.minN,
    vmGUIenvir,
		regressionImp
    )

S3method(aggr, data.frame)
S3method(aggr, survey.design)
S3method(aggr, default)

S3method(barMiss, data.frame)
S3method(barMiss, survey.design)
S3method(barMiss, default)

S3method(histMiss, data.frame)
S3method(histMiss, survey.design)
S3method(histMiss, default)

S3method(marginmatrix, data.frame)
S3method(marginmatrix, survey.design)
S3method(marginmatrix, default)

S3method(matrixplot, data.frame)
S3method(matrixplot, survey.design)
S3method(matrixplot, default)

S3method(mosaicMiss, data.frame)
S3method(mosaicMiss, survey.design)
S3method(mosaicMiss, default)

S3method(parcoordMiss, data.frame)
S3method(parcoordMiss, survey.design)
S3method(parcoordMiss, default)

S3method(colormapMiss, data.frame)
S3method(colormapMiss, survey.design)
S3method(colormapMiss, default)

S3method(growdotMiss, data.frame)
S3method(growdotMiss, survey.design)
S3method(growdotMiss, default)

S3method(mapMiss, data.frame)
S3method(mapMiss, survey.design)
S3method(mapMiss, default)

S3method(scattmatrixMiss, data.frame)
S3method(scattmatrixMiss, survey.design)
S3method(scattmatrixMiss, default)

S3method(pbox, data.frame)
S3method(pbox, survey.design)
S3method(pbox, default)


S3method(hotdeck, data.frame)
S3method(hotdeck, survey.design)
S3method(hotdeck, default)

S3method(kNN, data.frame)
S3method(kNN, survey.design)
S3method(kNN, default)

S3method(irmi, data.frame)
S3method(irmi, survey.design)
S3method(irmi, default)

S3method(prepare, data.frame)
S3method(prepare, survey.design)
S3method(prepare, default)

S3method(plot, aggr)
S3method(print, aggr)
S3method(print, summary.aggr)
S3method(summary, aggr)

S3method(regressionImp, data.frame)
S3method(regressionImp, survey.design)
S3method(regressionImp, default)
